<!-- Checks to see if a User is present and if it is, then checks to see if they're an admin and if projects are live -->
<% if current_user.present? %>

	<% if (current_user.role == "Admin") || (project.live == true) || (current_page?(projects_path)) %> <!-- will be true -->

		<!-- Rendering the project and relevant buttons and links -->
		<!-- <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4"> -->
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
			<div class="text">
				<p>Title: <strong><%= project.title %></strong></p>
				<a href="<%= project.github %>" target="_blank">Github link</a>

				<img src="https://s3.eu-west-2.amazonaws.com/show-case<%= project.image.path %>" width="100" height="100">

				<p><strong><%= @users.find(project.user_id).name %></strong></p> <!-- Finds user by project user id -->

				<br>
				<% if current_page?(root_path) %>
					<%= link_to "Show Page", project_path(project)%>
				<% end %>

				<% unless current_page?(root_path) || current_page?(projects_path)%>
				
				  <%= link_to "Home", root_path %>
				  <!-- goes ehre -->
				  <div id="tag-container">

				  <p>Description: <strong><%= project.description %></strong></p>
				  <p>Collabarators: <strong><%= project.collabarators %></strong></p></p>
				  <p><strong><%= @users.find(project.user_id).name %></strong></p> <!-- Finds user by project user id -->

				  	<%= form_for(project) do |f| %>
				  	<ul id="tag-list">

				  		<li class="tag-item">
							<%= f.label "CSS" %>
						    <%= f.check_box(:css) %>
					    </li>

					    <li class="tag-item">
					    <%= f.label "HTML" %>
					    <%= f.check_box(:html) %>
					    </li>

					    <li class="tag-item">
					    <%= f.label "JavaScript" %>
					    <%= f.check_box(:javascript) %>
					    </li>

					    <li class="tag-item">
					    <%= f.label "Ruby" %>
					    <%= f.check_box(:ruby) %>
					    </li>

					    <li class="tag-item">
					    <%= f.label "Rails" %>
					    <%= f.check_box(:rails) %>
					    </li>

				    </ul>
						<% end %>	

				  	
				  </div>
				<% end %>

				<% if current_user.present? %>
					<!-- Only show edit link to the current user's project -->
					<% if current_user.id == project.user_id %>
						<%= link_to "Show Page", project_path(project)%> |
						<%= link_to "Edit Page", edit_project_path(project) %>
					<% end %>

					<!--- If user is admin -->
					<% if current_user.role == "Admin" %>
						<%= form_for(project) do |f| %>
							<%= f.label "Live" %>
					    <%= f.check_box(:live) %>
							<%= f.submit "Submit" %>
						<% end %>	

					<% end %>	
				<% end %>	
			</div>
		</div>
	<% end %>

<!-- If any User is NOT signed in and if projects are live then render all projects -->
<% elsif !current_user.present? && (project.live == true) %>
	<div class="grid">
		<div class="text">
			<p>Title: <strong><%= project.title %></strong></p>
			<a href="<%= project.github %>">Github link</a>

			<img src="https://s3.eu-west-2.amazonaws.com/show-case<%= project.image.path %>" width="100" height="100">


			<p>User: <strong><%= @users.find(project.user_id).name %></strong></p> <!-- Finds user by project user id -->

			<br>
			<% if current_page?(root_path) %>
				<%= link_to "Show Page", project_path(project)%>
			<% end %>

			<% unless current_page?(root_path) %>
			  <%= link_to "Home", root_path %>
			  <p>Description: <strong><%= project.description %></strong></p>
			  <p>Collabarators: <strong><%= project.collabarators %></strong></p></p>
			  <p><strong><%= @users.find(project.user_id).name %></strong></p> <!-- Finds user by project user id -->
			<% end %>
		</div>
	</div>
<% end %>