<!-- Homepage - root page -->
<% if current_page?(root_path) %>
	<h1>All Projects</h1>
<% else %>
<!-- If the current page is not the root, show the My Projects page -->
	<h1>My Projects</h1>
<% end %>

<!-- If User is not signed in don't show these links -->
<% if current_user.present? %>
	<%= link_to "Home", '/' %> |
	<%= link_to "New Project", new_project_path %> |
	<%= link_to "My Projects", projects_path %>
<% end %>
<br>

<%= form_tag(projects_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<div class="container">
	<div class="row">
		<!-- Render the projects -->
		<%= render @projects %>
	</div>
</div>