<h1>Project Show Page</h1>

<%= form_tag(projects_path, method: :get) do %>
  <%= text_field_tag :term, nil, placeholder: "Search for title or collaborators" %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

<% if @project.live == false %>
	<p><strong> The project is not live, awaiting admin approval <strong></p>
<% end %>
<!-- Render the projects -->	
<%= render @project%>
<br>

<!-- If there is a user logged in and is the same user or admin, link to delete and a link to home -->
<% if current_user.present? %>
	<% if current_user.id == @project.user_id || current_user.role == "Admin" %>
		<%= link_to "Delete", @project, method: :delete, data: { confirm: "Are you sure?" } %>
		<br>
		<%= link_to "Home", root_path %>

	<% end %>
<% end %>
