<!DOCTYPE html>
<html>
  <head>
    <title>Show Case</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    <!-- Nav-Bar -->
    <div class="header-nav-bar">
      <div class="container-header">

        <!-- Sparta Logo embedded in Nav Bar -->
        <%= link_to(image_tag("sparta-global-logo.svg"), root_path) %>
      
        <!-- Checks to see if user is signed in or not and dynamically changes Nav Bar options -->
        <p>
          <% if user_signed_in? %>
            Logged in as <strong><%= current_user.email %></strong> <br>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
        </p>
      </div>
    </div>

    <!-- Bootstrap's notices and alerts for well and ill requests -->
    <% if notice %>
      <p class="alert alert-success"> <%= notice %> </p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"> <%= alert %> </p>
    <% end %>

      <%= yield %>

  </body>
</html>